# Secretos (nunca subir)
.env
*.pem
secrets.properties

# Android / Android Studio
*.iml
.gradle/
/local.properties
.idea/
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

# Python
__pycache__/
venv/
.venv/

# Editor / sistema
.vscode/
.DS_Store
Thumbs.db
